@import "tailwindcss";

.primary-rubik {
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
}

.secondary-rubik {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
}

@theme {
  --animate-loop-scroll-x: loop-scroll-x 20s linear infinite;
  @keyframes loop-scroll-x {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
